{% extends "base.html" %}
{% load static %}
{% block content %}

<article class="entry">
<div class="entry-content">

<!-- <div class="container-fluid px-0 mb-5 featured-image-blog"></div> -->
<!-- <div class="container my-5"><img src="{{ NewsArticle.main_image.url }}" alt="single-post"></div> -->

<div class="container pt-lg-5">
<div class="row justify-content-lg-center">
<div class="col-lg-8">
<header class="entry-header">
<div class="entry-meta-top"><span class="entry-meta-category"><i class="fas fa-folder"></i><a href="blog-three-col.html">Steels</a></span><span class="entry-author"><i class="far fa-user"></i>{{ NewsArticle.author }}</span><span class="entry-meta-date"> <i class="far fa-clock"></i>{{NewsArticle.published_date}}</span>
</div>



<h1 class="mb-5 entry-title font-weight-bold">{{ NewsArticle.title }} </h1>

</header>
<p class="lead-1 mb-4">{{NewsArticle.content | safe}}</p>
<!-- <div class="pt-2">
<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et sadipscing accusam et justo duo dolores rebum.
</div> -->
</div>
</div>
</div>

<div class="container">
<div class="row justify-content-lg-center">
<div class="col-lg-8 pr-lg-10">
<!-- <h4 class="mb-4">{{ title }}</h4> -->
<!-- <p>{{ NewsArticle.content }}</p> -->
</div>
</div>
<div class="row justify-content-lg-center mt-5">
<div class="col-lg-8 pr-lg-10"> <i class="fas fa-tags text-dim-gray"></i><span class="ml-2"><a class="h6 text-dim-gray" href="#">Energy, </a></span><span><a class="h6 text-dim-gray" href>New</a></span></div>
</div>
<div class="row justify-content-lg-center mt-5">
<div class="col-lg-8">

</div>
</div>
</div>
</div>
</article>




{% endblock content %}