

<article class="entry">
<div class="entry-content">

<div class="bg-black-pearl">
<div class="py-lg-8 py-md-8 py-7">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="mt-lg-n2">
<h1 class="mb-4 text-white">Blog Card Left Sidebar</h1>
<p class="lead-1 text-silver mt-n1 mb-0">Duis auctor eros ac urna dictum, eget rhoncus ex fringilla. Vestibulum in ex massa. Sed accumsan tortor libero. Phasellus gravida nibh vel odio semper vitae.</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container mt-8">
<div class="row large-gutters">
<div class="col-lg-8 order-lg-2 mb-7">

<div class="row gx-lg-5 gy-lg-5 gy-3 gx-3 blog-post card-post-style">
<div class="col-md-12">
<article>
<figure class="entry-media"><a href="blog-single-post.html"><img class="lozad" src="../../../energeticthemes.com/templates/sanat/assets/images/blog/b1-lqip.html" data-src="assets/images/blog/b1.jpg" alt="Entry Image" /></a>
</figure>
<div class="entry-content1-wrapper">
<header class="entry-header">
<h2 class="entry-title"><a href="blog-three-col.html">Recource</a><span class="post-meta-date">January 20, 2021</span></h2>
<div class="mb-2">
<div class="entry-meta-top"><span class="entry-meta-category"><i class="fas fa-folder"></i><a href="blog-three-col.html">Recource</a></span><span class="entry-meta-date"> <i class="far fa-clock"></i>January 20, 2021</span>
</div>
</div>
</header>
<div class="entry-content">
<p>Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.</p>
</div>
<footer class="entry-footer"><a class="entry-read-more" href="blog-single-post.html">Read More<i class="fas fa-long-arrow-alt-right ml-1"></i></a></footer>
</div>
</article>
</div>
<div class="col-md-12">
<article>
<figure class="entry-media"><a href="blog-single-post.html"><img class="lozad" src="../../../energeticthemes.com/templates/sanat/assets/images/blog/b2-lqip.html" data-src="assets/images/blog/b2.jpg" alt="Entry Image" /></a>
</figure>
<div class="entry-content1-wrapper">
<header class="entry-header">
<h2 class="entry-title"><a href="blog-three-col.html">Recource</a><span class="post-meta-date">January 20, 2021</span></h2>
<div class="mb-2">
<div class="entry-meta-top"><span class="entry-meta-category"><i class="fas fa-folder"></i><a href="blog-three-col.html">Recource</a></span><span class="entry-meta-date"> <i class="far fa-clock"></i>January 20, 2021</span>
</div>
</div>
</header>
<div class="entry-content">
<p>Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.</p>
</div>
<footer class="entry-footer"><a class="entry-read-more" href="blog-single-post.html">Read More<i class="fas fa-long-arrow-alt-right ml-1"></i></a></footer>
</div>
</article>
</div>
<div class="col-md-12">
<article>
<figure class="entry-media"><a href="blog-single-post.html"><img class="lozad" src="../../../energeticthemes.com/templates/sanat/assets/images/blog/b3-lqip.html" data-src="assets/images/blog/b3.jpg" alt="Entry Image" /></a>
</figure>
<div class="entry-content1-wrapper">
<header class="entry-header">
<h2 class="entry-title"><a href="blog-three-col.html">Recource</a><span class="post-meta-date">January 20, 2021</span></h2>
<div class="mb-2">
<div class="entry-meta-top"><span class="entry-meta-category"><i class="fas fa-folder"></i><a href="blog-three-col.html">Recource</a></span><span class="entry-meta-date"> <i class="far fa-clock"></i>January 20, 2021</span>
</div>
</div>
</header>
<div class="entry-content">
<p>Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.</p>
</div>
<footer class="entry-footer"><a class="entry-read-more" href="blog-single-post.html">Read More<i class="fas fa-long-arrow-alt-right ml-1"></i></a></footer>
</div>
</article>
</div>
</div>

<div class="text-center align-items-center mt-5"><a class="btn btn-black-pearl" href="#">Load More</a></div>
</div>
<div class="col-lg-4 order-lg-1 mb-7">

<aside class="widget">
<form class="search-form" role="search">
<div class="input-group">
<input class="form-control input-border border-bottom border-1 border-black-pearl" type="text" placeholder="Search" name="q">
<div class="input-group-append"><a class="input-border border-bottom border-1 border-black-pearl" href="#"><i class="fa fa-search padding-1" aria-hidden="true"></i></a></div>
</div>
</form>
</aside>

<aside class="widget">
<h5 class="widget-title">Top Posts</h5>
<div class="simple-entry-list blog-post">
<article class="mb-4">
<div class="entry-content1-wrapper">
<div class="entry-header">
<h2 class="entry-title"><a href="blog-single-post.html">The Story Of New Startup Has Just Gone Viral</a></h2>
<div class="entry-meta-top"><span class="entry-meta-category"><i class="fas fa-folder"></i><a href="blog-three-col.html">Photography</a></span><span class="entry-author"><i class="far fa-user"></i>Amjad Ali</span><span class="entry-meta-date"> <i class="far fa-clock"></i>sep 20,2020</span>
</div>
</div>
</div>
</article>
<article class="mb-4">
<div class="entry-content1-wrapper">
<div class="entry-header">
<h2 class="entry-title"><a href="blog-single-post.html">Most Effective Ways To Overcome Finances Problem</a></h2>
<div class="entry-meta-top"><span class="entry-meta-category"><i class="fas fa-folder"></i><a href="blog-three-col.html">Photography</a></span><span class="entry-author"><i class="far fa-user"></i>Amjad Ali</span><span class="entry-meta-date"> <i class="far fa-clock"></i>sep 20,2020</span>
</div>
</div>
</div>
</article>
<article class="mb-4">
<div class="entry-content1-wrapper">
<div class="entry-header">
<h2 class="entry-title"><a href="blog-single-post.html">5 Benefits Of Startup That May Change Your Perspective</a></h2>
<div class="entry-meta-top"><span class="entry-meta-category"><i class="fas fa-folder"></i><a href="blog-three-col.html">Photography</a></span><span class="entry-author"><i class="far fa-user"></i>Amjad Ali</span><span class="entry-meta-date"> <i class="far fa-clock"></i>sep 20,2020</span>
</div>
</div>
</div>
</article>
<article class="mb-4">
<div class="entry-content1-wrapper">
<div class="entry-header">
<h2 class="entry-title"><a href="blog-single-post.html">The Reason Why Everyone Love Startup Company</a></h2>
<div class="entry-meta-top"><span class="entry-meta-category"><i class="fas fa-folder"></i><a href="blog-three-col.html">Photography</a></span><span class="entry-author"><i class="far fa-user"></i>Amjad Ali</span><span class="entry-meta-date"> <i class="far fa-clock"></i>sep 20,2020</span>
</div>
</div>
</div>
</article>
<article class="mb-4">
<div class="entry-content1-wrapper">
<div class="entry-header">
<h2 class="entry-title"><a href="blog-single-post.html">The Story Of New Startup Has Just Gone Viral</a></h2>
<div class="entry-meta-top"><span class="entry-meta-category"><i class="fas fa-folder"></i><a href="blog-three-col.html">Photography</a></span><span class="entry-author"><i class="far fa-user"></i>Amjad Ali</span><span class="entry-meta-date"> <i class="far fa-clock"></i>sep 20,2020</span>
</div>
</div>
</div>
</article>
</div>
</aside>

<aside class="widget widget_categories">
<h5 class="widget-title">Categories</h5>
<ul>
<li><a href="blog-right-sidebar.html">Culture</a></li>
<li><a href="blog-right-sidebar.html">Creativity</a></li>
<li><a href="blog-right-sidebar.html">Opinion </a></li>
<li><a href="blog-right-sidebar.html">Weddings</a></li>
<li><a href="blog-right-sidebar.html">Automobiles</a></li>
<li><a href="blog-right-sidebar.html">Living</a>
<ul>
<li><a href="blog-right-sidebar.html">Education</a></li>
<li><a href="blog-right-sidebar.html">Travel</a></li>
<li><a href="blog-right-sidebar.html">Food</a>
<ul>
<li><a href="blog-right-sidebar.html">Traditional</a></li>
<li><a href="blog-right-sidebar.html">Famous </a></li>
</ul>
</li>
</ul>
</li>
<li><a href="blog-right-sidebar.html">Humor</a></li>
<li><a href="blog-right-sidebar.html">Sports</a></li>
<li><a href="blog-right-sidebar.html">Health</a></li>
<li><a href="blog-right-sidebar.html">Photography</a></li>
</ul>
</aside>

</div>
</div>
</div>
</div>
</article>
