{% extends "base.html" %}
{% load static %}
{% block content %}
<article class="entry">
<div class="entry-content">
<div class="bg-white-smoke">
<div class="pt-lg-8 pt-md-8 pt-6">
<div class="container">
<div class="pb-lg-2">
<h1 class="mb-lg-5 mb-md-5 mb-4">Blog</h1>
</div>
<div class="row gx-lg-5 gy-lg-5 gy-3 gx-3 blog-post card-post-style">
    {% for NewsArticle in NewsArticles %}
    <div class="col-lg-4">
        <article>
            <figure class="entry-media">
                <a href="{% url 'single-post' NewsArticle.slug %}">
                    <img class="lozad" src="../../../energeticthemes.com/templates/sanat/assets/images/blog/b1-lqip.html" data-src="{{NewsArticle.main_image.url}}" alt="Entry Image" />
                </a>
            </figure>
            <div class="entry-content-wrapper">
                <header class="entry-header">
                    <div class="entry-meta-top">
                        <span class="entry-meta-category"><i class="fas fa-folder"></i><a href="{% url 'single-post' NewsArticle.slug %}">{{NewsArticle.author}}</a></span>
                        <span class="entry-meta-date"><i class="far fa-clock"></i>{{ NewsArticle.published_date }}</span>
                    </div>
                    <h2 class="entry-title"><a href="{% url 'single-post' NewsArticle.slug %}">{{ NewsArticle.title }}</a></h2>
                </header>
                <div class="entry-content">
                    <!-- <p>{{NewsArticle.content|safe}}</p> -->
                </div>
                <div class="text-right pt-3"><a href="{% url 'single-post' NewsArticle.slug %}"><i class="h5 fas fa-arrow-right hover"></i></a></div>
            </div>
        </article>
    </div>
    {% endfor %}
</div>

</div>
</div>
<div class="container pb-lg-8 pb-md-8 pb-6 pt-6">
<!-- <div class="text-center"><a class="btn btn-black-pearl" href="page-portfolio-list.html">View more</a></div>
</div> -->
</div>
</div>
</article>
{% endblock content %}
