{% extends "base.html" %}
{% load static %}
{% block content %}
<article class="entry">
<div class="entry-content">

<div class="container-fluid px-0 home-bg bg-black-pearl">
<div class="py-lg-9 py-md-7 py-6">
<div class="container">
<div class="row gx-lg-5">
<div class="col-lg-6 d-lg-none"><img src="{% static 'assets/images/home/h15.jpg' %}" alt="homr image"></div>
<div class="col-lg-6 my-lg-3 mt-md-5 mt-5">
<h5 class="text-school-yellow">We are</h5>
<div class="pr-lg-6 pr-md-8 pr-4">
<h1 class="text-white mb-4">Inventing The Best Steels For A Better World</h1>
<p class="lead text-silver mb-4">Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
</div>
<div class="row gx-lg-0 pt-3 mb-lg-3">
<div class="col-lg-4 col-md-4 col-12"><a class="btn btn-outline-white" href="#">Read more</a></div>
<div class="col-lg-4 col-md-4 col-12 mt-lg-0 mt-md-0 mt-4">
<div class="ml-n28"><a class="btn btn-school-yellow" href="{% url 'contact-page' %}">Contact us</a></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="container my-lg-7 my-md-7 my-6">
<div class="row gx-lg-5">
<div class="col-lg-2 col-md-4 col-6 text-center"><img src="{% static 'assets/images/logo/1.png' %}" alt="logo1"></div>
<div class="col-lg-2 col-md-4 col-6 text-center"><img src="{% static 'assets/images/logo/2.png' %}" alt="logo2"></div>
<div class="col-lg-2 col-md-4 col-6 text-center mt-lg-0 mt-md-0 mt-5"><img src="{% static 'assets/images/logo/3.png' %}" alt="logo3"></div>
<div class="col-lg-2 col-md-4 col-6 text-center mt-lg-0 mt-md-5 mt-5"><img src="{% static 'assets/images/logo/4.png' %}" alt="logo4"></div>
<div class="col-lg-2 col-md-4 col-6 text-center mt-lg-0 mt-md-5 mt-5"><img src="{% static 'assets/images/logo/5.png' %}" alt="logo5"></div>
<div class="col-lg-2 col-md-4 col-6 text-center mt-lg-0 mt-md-5 mt-5"><img src="{% static 'assets/images/logo/6.png' %}" alt="logo6"></div>
</div>
</div>

<div class="bg-white-smoke">
<div class="pt-lg-8 pb-lg-9 pt-md-7 pb-md-8 pt-6 pb-7">
<div class="container mt-2">
<div class="row gx-lg-5">
<div class="col-lg-7">
<h5 class="text-dim-gray">About us</h5>
<h1>Becoming the Best Steelmaker with World-Leading Potential</h1>
</div>
</div>
</div>
<div class="container mt-5">
<div class="row gx-lg-5">
<div class="col-lg-4"><a href="page-services.html"><img src="{% static 'assets/images/home/h2.jpg' %}" alt="home2"></a>
<div class="bg-white px-4 py-4">
<div class="px-2 py-3"><a href="page-services.html">
<h4 class="mb-3 hover-color">Automotive and mobility</h4></a>
<p class="text-dim-gray mb-4">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.</p>
<div class="text-right pt-2"><a href="page-services.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-5"><a href="page-services.html"><img src="{% static 'assets/images/home/h3.jpg' %}" alt="home3"></a>
<div class="bg-white px-4 py-4">
<div class="px-2 py-3"><a href="page-services.html">
<h4 class="mb-3 hover-color">Structural Steel Supplies</h4></a>
<p class="text-dim-gray mb-4">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.</p>
<div class="text-right pt-2"><a href="page-services.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-5"><a href="page-services.html"><img src="{% static 'assets/images/home/h4.jpg' %}" alt="home4"></a>
<div class="bg-white px-4 py-4">
<div class="px-2 py-3"><a href="page-services.html">
<h4 class="mb-3 hover-color">The raw materials mining</h4></a>
<p class="text-dim-gray mb-4">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.</p>
<div class="text-right pt-2"><a href="page-services.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="container-fluid px-0 home-bg-1 bg-black-pearl">
<div class="py-lg-9 py-md-8 pt-0 pb-6">
<div class="container">
<div class="row gx-lg-5">
<div class="col-lg-6 home-bg-11 order-lg-1">
<div class="pt-lg-4 pt-md-8 pt-7">
<div class="pl-lg-0 pl-md-10 pl-4">
<div class="ml-lg-0 ml-md-7 ml-2">
<h2 class="h1 font-fifty text-lg-right mb-3">$443 Billion</h2>
</div>
</div>
<div class="pl-lg-10 pr-lg-0 pl-md-9 pr-md-9 pl-0">
<div class="ml-lg-10 ml-md-8">
<div class="pl-2">
<p class="lead-1 text-white">Creating 97 million tons of steel.</p>
<p class="lead-1 text-white">Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 my-lg-n1 mt-md-5 mt-5">
<h5 class="text-school-yellow">Our goals</h5>
<div class="pr-lg-6 pr-md-7 pr-2">
<h2 class="text-white mb-4">Our not-so-secret plan: Create a world without waste</h2>
<p class="text-silver mb-4">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.</p>
<div class="pt-3"><a class="btn btn-school-yellow mb-lg-3" href="page-about-us.html">Learn more</a></div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="bg-white-smoke">
<div class="pt-lg-8 pb-lg-5 pt-md-8 pb-md-5 pt-7 pb-5">
<div class="container">
<div class="row">
<div class="col-lg-8 offset-lg-2">
<div class="text-center mx-lg-0 mx-md-0 mx-3">
<h2 class="mb-4">Advancing products, processes and solutions</h2>
<p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.</p>
</div>
</div>
</div>
</div>
</div>
<div class="container pb-lg-7">
<div class="row gx-lg-5">
<div class="col-lg-6"><img class="height-px-420 object-fit-cover w-100" src="{% static 'assets/images/home/h06.jpg' %}" alt="home6"></div>
<div class="col-lg-6 mt-lg-0 mt-md-5 mt-5">
<nav class="pr-lg-5">
<div class="nav nav-tabs" id="nav-tab" role="tablist"><a class="h6 nav-link active mr-md-6 mr-3" id="nav-Stratigy-tab" data-toggle="tab" href="#nav-Stratigy" role="tab" aria-controls="nav-Stratigy" aria-selected="true">Stratigy</a><a class="h6 nav-link mr-md-6 mr-3" id="nav-Organization-tab" data-toggle="tab" href="#nav-Organization" role="tab" aria-controls="nav-Organization" aria-selected="false">Organization</a><a class="h6 nav-link mr-md-6 mr-3" id="nav-Development-tab" data-toggle="tab" href="#nav-Development" role="tab" aria-controls="nav-Development" aria-selected="false">Development</a><a class="h6 nav-link" id="nav-Delivery-tab" data-toggle="tab" href="#nav-Delivery" role="tab" aria-controls="nav-Delivery" aria-selected="false">Delivery</a></div>
<div class="tab-content mt-3" id="nav-tabContent">
<div class="tab-pane fade show active" id="nav-Stratigy" role="tabpanel" aria-labelledby="nav-Stratigy-tab">
<div class="pt-lg-4 pt-3">
<p class="lead text-black-pearl font-medium">Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
<p>Siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.</p>
</div>
</div>
<div class="tab-pane fade" id="nav-Organization" role="tabpanel" aria-labelledby="nav-Organization-tab">
<div class="pt-lg-4 pt-3">
<p class="lead text-black-pearl font-medium">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsumg </p>
<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
</div>
</div>
<div class="tab-pane fade" id="nav-Development" role="tabpanel" aria-labelledby="nav-Development-tab">
<div class="pt-lg-4 pt-3">
<p class="lead text-black-pearl font-medium">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, </p>
<p>Siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.</p>
</div>
</div>
<div class="tab-pane fade" id="nav-Delivery" role="tabpanel" aria-labelledby="nav-Delivery-tab">
<div class="pt-lg-4 pt-3">
<p class="lead text-black-pearl font-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,</p>
<p>discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus Bonorum et Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,</p>
</div>
</div>
</div>
</nav>
</div>
</div>
</div>
<div class="container pb-lg-9 pb-md-8 pb-7">
<div class="row gx-lg-5">
<div class="col-lg-6 order-lg-1 mt-lg-0 mt-md-5 mt-5"><img class="height-px-542 object-fit-cover w-100" src="{% static 'assets/images/home/h7.jpg' %}" alt="home7"></div>
<div class="col-lg-6 mt-lg-0 mt-md-5 mt-5">
<div class="pr-lg-6">
<p class="lead text-black-pearl font-weight-bold">Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
<p class="pb-4">Siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
</div>
<div class="row gx-lg-5 gx-md-5 mt-lg-4 mt-md-5 mt-5">
<div class="col-lg-6 col-md-6 col-12">
<div class="bg-white px-4 py-4">
<div class="px-2 py-2"><i class="mb-4 h1 display-4 fas fa-chart-area text-black-pearl"></i>
<h4 class="mb-3">Managment</h4>
<p class="text-dim-gray mb-0">Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum stet clita kasd.</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 col-12 mt-lg-0 mt-md-0 mt-5">
<div class="bg-white px-4 py-4">
<div class="px-2 py-2"><i class="mb-4 h1 display-4 fas fa-charging-station text-black-pearl"></i>
<h4 class="mb-3">Digital economy</h4>
<p class="text-dim-gray mb-0">Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum stet clita kasd.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="container mt-lg-8 mt-md-8 mt-6 mb-5">
<div class="row">
<div class="col-lg-6">
<h2 class="h1 mb-4">Case Studies</h2>
<div class="pr-lg-6">
<p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.</p>
</div>
</div>
</div>
</div>
<div class="container mb-lg-7 mb-md-6 mb-5">
<div class="row gx-lg-5">
<div class="col-lg-4"><a href="page-portfolio-list.html"><img src="{% static 'assets/images/home/test11.jpg' %}" alt="home12"></a>
<div class="bg-white-smoke">
<div class="px-4 py-4">
<div class="px-3 py-4">
<h6 class="text-dark-gray mb-3">CONSTRACTION</h6><a href="page-portfolio-list.html">
<h4>Noor ul Jani Steel and Sanat leaders discuss how they joined forces to make the world's first learning steelworks using AI Artificial Intelligence</h4></a>
<div class="text-right pt-2"><a href="page-portfolio-list.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="page-portfolio-list.html"><img src="{% static 'assets/images/home/test22.jpg' %}" alt="home9"></a>
<div class="bg-white-smoke">
<div class="px-4 py-4">
<div class="px-3 py-4">
<h6 class="text-dark-gray mb-3">CONSTRACTION</h6><a href="page-portfolio-list.html">
<h4>Installing 500+ industrial processing plant for helping owners and executives of construction companies enhance performance</h4></a>
<div class="text-right pt-2"><a href="page-portfolio-list.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="page-portfolio-list.html"><img src="{% static 'assets/images/home/test33.jpg' %}" alt="home10"></a>
<div class="bg-white-smoke">
<div class="px-4 py-4">
<div class="px-3 py-4">
<h6 class="text-dark-gray mb-3">RESEARCH</h6><a href="page-portfolio-list.html">
<h4>Partnering with the world's pioneering organizations to discuss the longer term of steel and its role during a changing world</h4></a>
<div class="text-right pt-2"><a href="page-portfolio-list.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container mb-lg-9 mb-md-8 mb-7">
<div class="text-center"><a class="btn btn-black-pearl" href="page-portfolio-list.html">View all projects</a></div>
</div>

<div class="bg-black-pearl">
<div class="py-lg-9 pt-md-7 pb-md-8 pt-6 pb-7">
<div class="container">
<div class="row">
<div class="col-lg-5 my-auto">
<div class="pr-lg-6 pr-md-7 pr-0">
<h2 class="h1 text-white mb-4">Valuable words from our customers</h2>
<p class="text-silver mb-4">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magn.</p>
<div class="pt-3"><a class="btn btn-school-yellow" href="page-testimonials.html">Learn more</a></div>
</div>
</div>
<div class="col-lg-7 mt-lg-0 mt-md-5 mt-5">
<div class="bg-white mr-lg-8">
<div class="px-4 py-4">
<div class="px-2 py-3">
<div class="row gx-lg-5">
<div class="col-9">
<p class="text-dim-gray">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.</p>
<h6 class="mb-1">Michael Wilson - CEO of Tozee</h6>
</div>
<div class="col-3"><img class="rounded-circle" src="{% static 'assets/images/home/h11.jpg' %}" alt="home11"></div>
</div>
</div>
</div>
</div>
<div class="bg-white ml-lg-8 mt-5">
<div class="px-4 py-4">
<div class="px-2 py-3">
<div class="row gx-lg-5">
<div class="col-9">
<p class="text-dim-gray">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.</p>
<h6 class="mb-1">Patricia Bogle - CEO of Manan</h6>
</div>
<div class="col-3"><img class="rounded-circle" src="{% static 'assets/images/home/h13.jpg' %}" alt="home13"></div>
</div>
</div>
</div>
</div>
<div class="bg-white mr-lg-8 mt-5">
<div class="px-4 py-4">
<div class="px-2 py-3">
<div class="row gx-lg-5">
<div class="col-9">
<p class="text-dim-gray">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.</p>
<h6 class="mb-1">Joseph Hyde - CEO of Moiz</h6>
</div>
<div class="col-3"><img class="rounded-circle" src="{% static 'assets/images/home/h14.jpg' %}" alt="home14"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="bg-white-smoke">
<div class="py-lg-8 py-md-8 py-7">
<div class="container">
<div class="row gx-lg-5">
<div class="col-lg-6 mb-lg-0 mb-md-5 mb-5">
<div class="container p-0">
<div class="row gx-lg-5">
<div class="col-lg-6">
<div class="bg-black-pearl">
<div class="px-4 py-4">
<div class="px-2 py-4">
<h2 class="text-school-yellow mb-4">532 Offices </h2>
<p class="lead-1 mt-n1 text-white">Across 56 territories and 26k global workfor</p>
<p class="text-dark-gray mb-1">Dolores et ea rebum vero eos et accusam et justo duo dolores at ea rebum. labore vero dolore magna aliquyam erat</p>
</div>
</div>
</div>
<div class="bg-white mt-5">
<div class="px-4 py-4">
<div class="px-2 py-4">
<h2 class="mb-4">29 Trillion Pounds</h2>
<p class="text-black-pearl lead-1 mt-n1">Nonumy eirmod tempor invidunt veroe labore</p>
<p class="text-dim-gray mb-1">Dolores et ea rebum vero eos et accusam et justo duo dolores at ea rebum. labore vero dolore magna aliquyam erat</p>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="bg-white mt-5">
<div class="px-4 py-4">
<div class="px-2 py-4">
<h2 class="mb-4">42 Billion Per Year </h2>
<p class="text-black-pearl lead-1 mt-n1">Takimata sanctus eirmod tempor invidunt</p>
<p class="text-dim-gray mb-1">Dolores et ea rebum vero eos et accusam et justo duo dolores at ea rebum. labore vero dolore magna aliquyam erat</p>
</div>
</div>
</div>
<div class="bg-school-yellow mt-5">
<div class="px-4 py-4">
<div class="px-2 py-4">
<h2 class="mb-4">96% Industrial </h2>
<p class="text-black-pearl lead-1 mt-n1">Across 56 territories and 26k global workforce</p>
<p class="text-dim-gray mb-1">Dolores et ea rebum vero eos et accusam et justo duo dolores at ea rebum. labore vero dolore magna aliquyam erat</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 my-auto pl-lg-6">
<div class="ml-n1">
<h2 class="h1 mb-0">Now, for </h2>
<h2 class="h1 mt-n1 mb-4">Tomorrow</h2>
<div class="pr-lg-6">
<p class="lead text-black-pearl mb-4">Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</div>
<p class="text-dim-gray">Siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.</p>
<div class="pt-3"><a class="btn btn-black-pearl" href="page-about-us.html">Learn more</a></div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="bg-black-pearl">
<div class="py-lg-9 py-md-8 py-7">
<div class="container mt-lg-4">
<div class="row gx-lg-5">
<div class="col-lg-6">
<h2 class="h1 text-white mb-0 mt-n1">Our team </h2>
<h2 class="h1 text-white mt-n1 mb-4">Memebers</h2>
<div class="pr-lg-10">
<p class="text-silver mr-3">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magn.</p>
</div>
<div class="row gx-lg-5 pt-lg-7 pt-md-5 pt-5">
<div class="col-lg-6 offset-lg-6"><a href="page-agents.html"><img src="{% static 'assets/images/team/teams1.jpg' %}" alt="team image"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-agents.html">
<h5>Daniel Nichol</h5></a>
<p class="text-dim-gray">Managing Partner</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="row gx-lg-5">
<div class="col-lg-6 mt-lg-10 mt-md-5 mt-5"><a href="page-agents.html"><img src="{% static 'assets/images/team/teams2.jpg' %}" alt="team image"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-agents.html">
<h5>Jonathan </h5></a>
<p class="text-dim-gray">Firm Director</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="mt-5"><a href="page-agents.html"><img src="{% static 'assets/images/team/teams4.jpg' %}" alt="team image"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-agents.html">
<h5>Patricia Bogle</h5></a>
<p class="text-dim-gray">Chief Operating Officer</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 mt-lg-0 mt-md-5 mt-5"><a href="page-agents.html"><img src="{% static 'assets/images/team/teams3.jpg' %}" alt="team image"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-agents.html">
<h5>Gerry Heller</h5></a>
<p class="text-dim-gray">Managing Director</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="mt-5"><a href="page-agents.html"><img src="{% static 'assets/images/team/teams5.jpg' %}" alt="team image"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-agents.html">
<h5>Joseph Hyde</h5></a>
<p class="text-dim-gray">Tax Partner</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="bg-white-smoke">
<div class="py-lg-8 py-md-7 py-6">
<div class="container">
<h2 class="h1 mb-lg-6 mb-md-5 mb-4">Recent News</h2>

<div class="row gx-lg-5 gy-lg-5 gy-3 gx-3 blog-post card-post-style">
<div class="col-lg-4 mb-lg-0 mb-4">
<article>
<figure class="entry-media"><a href="blog-single-post.html"><img class="lozad" src="../../../energeticthemes.com/templates/sanat/assets/images/blog/b1-lqip.html" data-src="{% static 'assets/images/blog/b1.jpg' %}" alt="Entry Image" /></a>
</figure>
<div class="entry-content-wrapper">
<header class="entry-header">
<div class="entry-meta-top"><span class="entry-meta-category"><i class="fas fa-folder"></i><a href="blog-three-col.html">Recource</a></span><span class="entry-meta-date"> <i class="far fa-clock"></i>January 20, 2021</span>
</div>
<h2 class="entry-title"><a href="blog-single-post.html">New tunnel stretching all the way from Long Island to Plane Land </a></h2>
</header>
<div class="entry-content">
<p>Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.</p>
</div>
<div class="text-right pt-3"><a href="blog-single-post.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</article>
</div>
<div class="col-lg-4 mb-lg-0 mb-4">
<article>
<figure class="entry-media"><a href="blog-single-post.html"><img class="lozad" src="../../../energeticthemes.com/templates/sanat/assets/images/blog/b2-lqip.html" data-src="{% static 'assets/images/blog/b2.jpg' %}" alt="Entry Image" /></a>
</figure>
<div class="entry-content-wrapper">
<header class="entry-header">
<div class="entry-meta-top"><span class="entry-meta-category"><i class="fas fa-folder"></i><a href="blog-three-col.html">Recource</a></span><span class="entry-meta-date"> <i class="far fa-clock"></i>January 20, 2021</span>
</div>
<h2 class="entry-title"><a href="blog-single-post.html">We supply the steels for onshore and offshore platforms</a></h2>
</header>
<div class="entry-content">
<p>Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.</p>
</div>
<div class="text-right pt-3"><a href="blog-single-post.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</article>
</div>
<div class="col-lg-4 mb-lg-0 mb-4">
<article>
<!-- <figure class="entry-media"><a href="blog-single-post.html"><img class="lozad" src="../../../energeticthemes.com/templates/sanat/assets/images/blog/b3-lqip.html" data-src="{% static 'assets/images/blog/b3.jpg' %}" alt="Entry Image" /></a>
</figure> -->
<div class="entry-content-wrapper">
<header class="entry-header">
<div class="entry-meta-top"><span class="entry-meta-category"><i class="fas fa-folder"></i><a href="blog-three-col.html">Recource</a></span><span class="entry-meta-date"> <i class="far fa-clock"></i>January 20, 2021</span>
</div>
<h2 class="entry-title"><a href="blog-single-post.html">10 small but important things to observe In thesteel production.</a></h2>
</header>
<div class="entry-content">
<p>Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.</p>
</div>
<div class="text-right pt-3"><a href="blog-single-post.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</article>
</div>
</div>

<div class="pt-lg-7 pt-5 mb-4">
<div class="text-center"><a class="btn btn-black-pearl" href="blog.html">View all news</a></div>
</div>
</div>
</div>
</div>
</div>
</article>
{% endblock content %}