
{% extends "base.html" %}
{% load static %}
{% block content %}
<article class="entry">
<div class="entry-content">
<div class="bg-black-pearl">
<div class="py-lg-8 py-md-8 py-7">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="mt-lg-n2">
<h1 class="mb-4 text-white">Portfolio</h1>
<p class="lead-1 text-silver mt-n1 mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="container my-lg-8 my-md-8 my-6">
<div class="row gx-lg-5">
<div class="col-lg-4"><a href="single-project.html"><img src="assets/images/home/test11.jpg" alt="portfolio1"></a>
<div class="bg-white-smoke">
<div class="px-4 py-4">
<div class="px-3 py-4">
<h6 class="text-dark-gray mb-3">CONSTRACTION</h6><a href="single-project.html">
<h4 class="font-semibold">Noor Jani Steel and Sanat leaders discuss how they joined forces to make the world’s first learning steelworks </h4></a>
<div class="text-right pt-2"><a href="single-project.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="single-project.html"><img src="assets/images/home/test22.jpg" alt="portfolio2"></a>
<div class="bg-white-smoke">
<div class="px-4 py-4">
<div class="px-3 py-4">
<h6 class="text-dark-gray mb-3">CONSTRACTION</h6><a href="single-project.html">
<h4 class="font-semibold">Installing 500+ industrial processing plant for helping owners and executives of construction companies enhance performance</h4></a>
<div class="text-right pt-2"><a href="single-project.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="single-project.html"><img src="assets/images/home/test33.jpg" alt="portfolio3"></a>
<div class="bg-white-smoke">
<div class="px-4 py-4">
<div class="px-3 py-4">
<h6 class="text-dark-gray mb-3">RESEARCH</h6><a href="single-project.html">
<h4 class="font-semibold">Partnering with the world's pioneering organizations to discuss the longer term of steel and its role during a changing world</h4></a>
<div class="text-right pt-2"><a href="single-project.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
</div>
<div class="row gx-lg-5 mt-5">
<div class="col-lg-4"><a href="single-project.html"><img src="assets/images/portfolio/p1.jpg" alt="portfolio4"></a>
<div class="bg-white-smoke">
<div class="px-4 py-4">
<div class="px-3 py-4">
<h6 class="text-dark-gray mb-3">CONSTRACTION</h6><a href="single-project.html">
<h4 class="font-semibold">Provided the high performance steels, coatings and structural solutions that the latest generation of solar</h4></a>
<div class="text-right pt-2"><a href="single-project.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="single-project.html"> <img src="assets/images/portfolio/p2.jpg" alt="portfolio5"></a>
<div class="bg-white-smoke">
<div class="px-4 py-4">
<div class="px-3 py-4">
<h6 class="text-dark-gray mb-3">CONSTRACTION</h6><a href="single-project.html">
<h4 class="font-semibold">We’re a leading supplier of specialist steels to the wind energy industry and electrical steels for generators. and providing</h4></a>
<div class="text-right pt-2"><a href="single-project.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="single-project.html"><img src="assets/images/portfolio/p3.jpg" alt="portfolio6"></a>
<div class="bg-white-smoke">
<div class="px-4 py-4">
<div class="px-3 py-4">
<h6 class="text-dark-gray mb-3">RESEARCH</h6><a href="single-project.html">
<h4 class="font-semibold">When we invent a new process, product or solution, our people and customers across the world benefit from it providing AI.​</h4></a>
<div class="text-right pt-2"><a href="single-project.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
</div>
<div class="row gx-lg-5 mt-5">
<div class="col-lg-4"><a href="single-project.html"><img src="assets/images/portfolio/p4.jpg" alt="portfolio7"></a>
<div class="bg-white-smoke">
<div class="px-4 py-4">
<div class="px-3 py-4">
<h6 class="text-dark-gray mb-3">CONSTRACTION</h6><a href="single-project.html">
<h4 class="font-semibold">We’re a leading supplier of specialist steels to the wind energy industry and electrical steels for generators. and providing</h4></a>
<div class="text-right pt-2"><a href="single-project.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="single-project.html"><img src="assets/images/portfolio/p5.jpg" alt="portfolio8"></a>
<div class="bg-white-smoke">
<div class="px-4 py-4">
<div class="px-3 py-4">
<h6 class="text-dark-gray mb-3">CONSTRACTION</h6><a href="single-project.html">
<h4 class="font-semibold">Installing 500+ industrial processing plant for helping owners and executives of construction companies enhance performance</h4></a>
<div class="text-right pt-2"><a href="single-project.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="single-project.html"><img src="assets/images/portfolio/p6.jpg" alt="portfolio9"></a>
<div class="bg-white-smoke">
<div class="px-4 py-4">
<div class="px-3 py-4">
<h6 class="text-dark-gray mb-3">RESEARCH</h6><a href="single-project.html">
<h4 class="font-semibold">Partnering with the world's pioneering organizations to discuss the longer term of steel and its role during a changing world.</h4></a>
<div class="text-right pt-2"><a href="single-project.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
</div>
<div class="pt-lg-6 pt-md-5 pt-5 my-n1">
<div class="text-center pb-lg-4"><a class="btn btn-black-pearl" href="single-project.html">View all Project</a></div>
</div>
</div>
</div>
</article>

{% endblock content %}