{% extends "base.html" %}
{% load static %}
{% block content %}

<article class="entry">
<div class="entry-content">

<div class="bg-white-smoke">
<div class="pt-lg-8 pb-lg-9 pt-md-7 pb-md-8 pt-6 pb-7">
<div class="container mt-2">
<div class="row gx-lg-5">
<div class="col-lg-6">
<h5 class="text-dim-gray">diqqat !</h5>
<h1 class="pb-lg-4">ELON</h1>
</div>
</div>
</div>

<div class="container mt-5">
    {% for elon in Elonlar %}
<div class="row gx-lg-5">
   
<div class="col-lg-4"><a href="page-single-service.html"><img src="{{elon.image.url}}" alt="home2"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-single-service.html">
<h4 class="mb-3 hover-color">{{elon.title}}</h4></a>
<p class="text-dim-gray mb-4">{{elon.content}}</p>
<div class="text-right pt-2"><a href="page-single-service.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>

</div>

</div>

</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-5"><a href="page-single-service.html"><img src="{% static 'assets/images/home/h3.jpg' %}" alt="home3"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-single-service.html">
<h4 class="mb-3 hover-color">Structural Steel Supplies</h4></a>
<p class="text-dim-gray mb-4">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.</p>
<div class="text-right pt-2"><a href="page-single-service.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-5"><a href="page-single-service.html"><img src="{% static 'assets/images/home/h4.jpg' %}" alt="home4"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-single-service.html">
<h4 class="mb-3 hover-color">The raw materials mining</h4></a>
<p class="text-dim-gray mb-4">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.</p>
<div class="text-right pt-2"><a href="page-single-service.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>

</div>
{% endfor %}
<div class="row gx-lg-5 mt-5">
<div class="col-lg-4"><a href="page-single-service.html"><img src="{% static 'assets/images/home/h2.jpg' %}" alt="home2"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-single-service.html">
<h4 class="mb-3 hover-color">Energy</h4></a>
<p class="text-dim-gray mb-4">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.</p>
<div class="text-right pt-2"><a href="page-single-service.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-5"><a href="page-single-service.html"><img src="{% static 'assets/images/home/h3.jpg' %}" alt="home3"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-single-service.html">
<h4 class="mb-3 hover-color">Applince</h4></a>
<p class="text-dim-gray mb-4">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.</p>
<div class="text-right pt-2"><a href="page-single-service.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-5"><a href="page-single-service.html"><img src="{% static 'assets/images/home/h4.jpg' %}" alt="home4"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-single-service.html">
<h4 class="mb-3 hover-color">Transport</h4></a>
<p class="text-dim-gray mb-4">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.</p>
<div class="text-right pt-2"><a href="page-single-service.html"><i class="h5 fas fa-arrow-right hover"></i></a></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="container-fluid px-0 service-1">
<div class="container mt-lg-0 mt-md-8 mt-6">
<div class="row">
<div class="col-lg-6">
<div class="col-12 d-lg-none"><img src="{% static 'assets/images/services/service1.jpg' %}" alt="service-1"></div>
</div>
<div class="col-lg-6 my-lg-7 mb-md-8 mt-md-5 mb-6 mb-5">
<div class="pl-lg-6 ml-lg-n2">
<h1 class="mb-3">Our values</h1>
<p class="text-dim-gray mb-5">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit, dolore magna aliquyam consetetur sadipscing.</p>
<h5 class="mb-3">Collaborative </h5>
<p class="text-dim-gray mb-5">Consetetur dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusamjusto duo et.</p>
<h5 class="mb-3">Trusted </h5>
<p class="text-dim-gray mb-5">Consetetur dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusamjusto duo et.</p>
<h5 class="mb-3">Focused </h5>
<p class="text-dim-gray mb-0">Consetetur dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusamjusto duo et.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</article>

{% endblock content %}