{% extends "base.html" %}
{% load static %}
{% block content %}

<article class="entry">
<div class="entry-content">

<div class="bg-black-pearl">
<div class="container">
<div class="py-lg-7 py-md-6 py-5">
<div class="row">
<div class="col-lg-12">
<div class="text-center">
<h4 class="mb-2 text-white text-dim-gray">FAQs</h4>
<h1 class="text-white mb-0">Let's Crack Those Questions </h1>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="pt-lg-9 pt-md-7 pt-6 pb-lg-9 pb-md-7 pb-6">
<div class="container">
<div class="row">
<div class="col-lg-8 offset-lg-2">
<div class="accordion" id="accordionExample">
<div class="card border-0">
<div class="card-header bg-white-smoke" id="headingOne"><a class="heading-size mb-0 py-lg-4 px-lg-4 py-md-4 px-md-3 py-2 px-2 d-block" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Q: What is the scope of your mining operations?</a></div>
<div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
<div class="card-body">
<div class="py-lg-3 px-lg-4">
<p>Siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et rebum.
</div>
</div>
</div>
</div>
<div class="card border-0 mt-5">
<div class="card-header bg-white-smoke" id="headingTwo"><a class="heading-size mb-0 py-lg-4 px-lg-4 py-md-4 px-md-3 py-2 px-2 d-block collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Q: How do you make steel and what is it used for?</a></div>
<div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample">
<div class="card-body">
<div class="py-lg-3 px-lg-3">
<p>Siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et rebum.
</div>
</div>
</div>
</div>
<div class="card border-0 mt-5">
<div class="card-header bg-white-smoke" id="headingThree"><a class="heading-size mb-0 py-lg-4 px-lg-4 py-md-4 px-md-3 py-2 px-2 d-block collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Q: How much steel do you produce each year?</a></div>
<div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample">
<div class="card-body">
<div class="py-lg-3 px-lg-3">
<p>Siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et rebum.
</div>
</div>
</div>
</div>
<div class="card border-0 mt-5">
<div class="card-header bg-white-smoke" id="headingfour"><a class="heading-size mb-0 py-lg-4 px-lg-4 py-md-4 px-md-3 py-2 px-2 d-block collapsed" href="#" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">Q: What is your focus in terms of research and development?</a></div>
<div class="collapse" id="collapsefour" aria-labelledby="headingfour" data-parent="#accordionExample">
<div class="card-body">
<div class="py-lg-3 px-lg-3">
<p>Siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et rebum.
</div>
</div>
</div>
</div>
<div class="card border-0 mt-5">
<div class="card-header bg-white-smoke" id="headingfive"><a class="heading-size mb-0 py-lg-4 px-lg-4 py-md-4 px-md-3 py-2 px-2 d-block collapsed" href="#" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">Q: What is approach to managing sustainability?</a></div>
<div class="collapse" id="collapsefive" aria-labelledby="headingfive" data-parent="#accordionExample">
<div class="card-body">
<div class="py-lg-3 px-lg-3">
<p>Siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et rebum.
</div>
</div>
</div>
</div>
<div class="card border-0 mt-5">
<div class="card-header bg-white-smoke" id="headingsix"><a class="heading-size mb-0 py-lg-4 px-lg-4 py-md-4 px-md-3 py-2 px-2 d-block collapsed" href="#" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">Q: What is the company’s current dividend policy?</a></div>
<div class="collapse" id="collapsesix" aria-labelledby="headingsix" data-parent="#accordionExample">
<div class="card-body">
<div class="py-lg-3 px-lg-3">
<p>Siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et rebum.
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container mb-lg-9 mb-md-7 mb-6">
<div class="row">
<div class="col-lg-8 offset-2 text-center"></div>
<div class="col-sm-8 offset-sm-2 text-center">
<div class="mb-4 mt-2 mb-3">
<h2>Still no luck? We can help!</h2>
</div>
<div class="pt-lg-3"><a class="btn btn-black-pearl" href="page-contact.html">Submit A Request</a></div>
</div>
</div>
</div>
</div>
</article>

{% endblock content %}