
{% extends "base.html" %}
{% load static %}
{% block content %}
<article class="entry">
<div class="entry-content">

<div class="bg-black-pearl">
<div class="py-lg-8 py-md-8 py-7">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="mt-lg-n2">
<h1 class="mb-4 text-white">Service Box</h1>
<p class="lead-1 text-silver mt-n1 mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="container my-lg-9 my-md-8 my-7">
<div class="row gx-lg-5">
<div class="col-lg-4">
<div class="bg-white-smoke px-4 py-5">
<div class="mx-3"><i class="mb-4 h1 display-4 fas fa-charging-station text-aluminium"></i>
<div class="pt-3">
<h4 class="mb-3">Energy</h4>
</div>
<div class="pt-2 pb-3">
<p>Suspendisse in massa id velit ullamcorper laoreet ac bibendum velit. Pellentesque nec erat in mi molestie pharetra. Proin in purus nisi. Maecenas euismod auctor mi id ultrices. Praesent pharetra, sem ac dui pellentesque vestibulum congue,</p>
</div><a class="mt-5 h6 btn-link" href="page-single-service.html">Read more</a>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-4">
<div class="bg-white-smoke px-4 py-5">
<div class="mx-3"><i class="mb-4 h1 display-4 fas fa-cog text-aluminium"></i>
<div class="pt-3">
<h4 class="mb-3">Operation Mnagement</h4>
</div>
<div class="pt-2 pb-3">
<p>Suspendisse in massa id velit ullamcorper laoreet ac bibendum velit. Pellentesque nec erat in mi molestie pharetra. Proin in purus nisi. Maecenas euismod auctor mi id ultrices. Praesent pharetra, sem ac dui pellentesque vestibulum congue,</p>
</div><a class="mt-5 h6 btn-link" href="page-single-service.html">Read more</a>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-4">
<div class="bg-white-smoke px-4 py-5">
<div class="mx-3"> <i class="mb-4 h1 display-4 fas fa-cogs text-aluminium"></i>
<div class="pt-3">
<h4 class="mb-3">Control Valves & Actuator</h4>
</div>
<div class="pt-2 pb-3">
<p>Suspendisse in massa id velit ullamcorper laoreet ac bibendum velit. Pellentesque nec erat in mi molestie pharetra. Proin in purus nisi. Maecenas euismod auctor mi id ultrices. Praesent pharetra, sem ac dui pellentesque vestibulum congue,</p>
</div><a class="mt-5 h6 btn-link" href="page-single-service.html">Read more</a>
</div>
</div>
</div>
</div>
<div class="row gx-lg-5 mt-lg-5 mt-md-5 mt-4">
<div class="col-lg-4">
<div class="bg-white-smoke px-4 py-5">
<div class="mx-3"><i class="mb-4 h1 display-4 fas fa-code-branch text-aluminium"></i>
<div class="pt-3">
<h4 class="mb-3">Energy</h4>
</div>
<div class="pt-2 pb-3">
<p>Suspendisse in massa id velit ullamcorper laoreet ac bibendum velit. Pellentesque nec erat in mi molestie pharetra. Proin in purus nisi. Maecenas euismod auctor mi id ultrices. Praesent pharetra, sem ac dui pellentesque vestibulum congue,</p>
</div><a class="mt-5 h6 btn-link" href="page-single-service.html">Read more</a>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-4">
<div class="bg-white-smoke px-4 py-5">
<div class="mx-3"><i class="mb-4 h1 display-4 fas fa-database text-aluminium"></i>
<div class="pt-3">
<h4 class="mb-3">Operation Mnagement</h4>
</div>
<div class="pt-2 pb-3">
<p>Suspendisse in massa id velit ullamcorper laoreet ac bibendum velit. Pellentesque nec erat in mi molestie pharetra. Proin in purus nisi. Maecenas euismod auctor mi id ultrices. Praesent pharetra, sem ac dui pellentesque vestibulum congue,</p>
</div><a class="mt-5 h6 btn-link" href="page-single-service.html">Read more</a>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-4">
<div class="bg-white-smoke px-4 py-5">
<div class="mx-3"><i class="mb-4 h1 display-4 fas fa-file-word text-aluminium"></i>
<div class="pt-3">
<h4 class="mb-3">Control Valves & Actuator</h4>
</div>
<div class="pt-2 pb-3">
<p>Suspendisse in massa id velit ullamcorper laoreet ac bibendum velit. Pellentesque nec erat in mi molestie pharetra. Proin in purus nisi. Maecenas euismod auctor mi id ultrices. Praesent pharetra, sem ac dui pellentesque vestibulum congue,</p>
</div><a class="mt-5 h6 btn-link" href="page-single-service.html">Read more</a>
</div>
</div>
</div>
</div>
</div>
</div>
</article>

{% endblock content %}