{% extends "base.html" %}
{% load static %}
{% block content %}

<article class="entry">
<div class="entry-content">

<div class="bg-white-smoke">
<div class="pt-lg-9 pb-lg-7 pt-md-7 pb-md-7 pt-6 pb-6">
<div class="container">
<div class="row gx-lg-5">
<div class="col-lg-7 mt-lg-6">
<div class="pr-lg-7">
<h5 class="text-school-yellow">About Us</h5>
<h1 class="mb-4">Becoming the Best Steelmaker with World-Leading Potential</h1>
<p class="text-dim-gray lead-1">Vestibulum ultrices sagittis ipsum, sed facilisis augue porta id. Donec at risus vitae mauris venenatis pellentesque in eu mauris. Integer egestas justo leo, sit amet efficitur felis consectetur et. Sed aliquet lacus at ligula commodo maximus.</p>
</div>
<div class="container p-0">
<div class="row gx-lg-5">
<div class="col-lg-5 pt-lg-10 pt-md-5 pt-4">
<div class="mt-lg-9">
<div class="pt-3"><img src="{% static 'assets/images/about-us/about2.jpg' %}" alt="about-us 2"></div>
</div>
</div>
<div class="col-lg-7 mt-5 pt-1"><img src="{% static 'assets/images/about-us/about1.jpg' %}" alt="about-us 1"></div>
</div>
</div>
</div>
<div class="col-lg-5 mt-lg-2 mt-md-5 mt-5"><img src="{% static 'assets/images/about-us/about3.jpg' %}" alt="about-us 3">
<div class="mt-5"><img src="{% static 'assets/images/about-us/about4.jpg' %}" alt="about-us 4"></div>
</div>
</div>
</div>
</div>
</div>

<div class="bg-black-pearl">
<div class="py-lg-9 py-md-7 py-6">
<div class="container">
<div class="row gx-lg-5">
<div class="col-lg-5 my-auto">
<h5 class="text-school-yellow">Our goals</h5>
<h2 class="h1 text-white mb-4">Our not-so-secret plan: Create a world without waste</h2>
<p class="text-silver mb-5">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.</p><a class="btn btn-school-yellow" href="page-service-box.html">Learn more</a>
</div>
<div class="col-lg-7">
<div class="bg-white mr-lg-8 mt-lg-0 mt-5">
<div class="px-4 py-4">
<div class="px-2 py-3">
<div class="row">
<div class="col-lg-2 col-md-2 col-4">
<div class="border rounded-circle border-black-pearl">
<div class="px-lg-3 py-lg-3 px-md-4 py-md-3 px-4 py-3"><i class="h3 fas fa-city text-center mb-0"></i></div>
</div>
</div>
<div class="col-lg-10 col-md-10 col-8">
<div class="pr-lg-5">
<p class="text-dim-gray mb-lg-0">Fusce tincidunt, urna sit amet molestie imperdiet, dui velit vulputate justo, nec blandit risus ipsum a ex. Mauris gravida tempor volutpat accumsan hendrerit.</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="bg-white ml-lg-8 mt-5">
<div class="px-4 py-4">
<div class="px-2 py-3">
<div class="row">
<div class="col-lg-2 col-md-2 col-4">
<div class="border rounded-circle border-black-pearl">
<div class="px-lg-3 py-lg-3 px-md-4 py-md-3 px-4 py-3"><i class="h3 fas fa-cogs text-center mb-0"></i></div>
</div>
</div>
<div class="col-lg-10 col-md-10 col-8">
<div class="pr-lg-5">
<p class="text-dim-gray mb-lg-0">Fusce tincidunt, urna sit amet molestie imperdiet, dui velit vulputate justo, nec blandit risus ipsum a ex. Mauris gravida tempor volutpat accumsan hendrerit.</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="bg-white mr-lg-8 mt-5">
<div class="px-4 py-4">
<div class="px-2 py-3">
<div class="row">
<div class="col-lg-2 col-md-2 col-4">
<div class="border rounded-circle border-black-pearl">
<div class="pl-lg-4 py-lg-3 px-md-4 py-md-3 px-4 py-3"><i class="h3 fas fa-code-branch text-center mb-0"></i></div>
</div>
</div>
<div class="col-lg-10 col-md-10 col-8">
<div class="pr-lg-5">
<p class="text-dim-gray mb-lg-0">Fusce tincidunt, urna sit amet molestie imperdiet, dui velit vulputate justo, nec blandit risus ipsum a ex. Mauris gravida tempor volutpat accumsan hendrerit.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="container-fluid px-0 about-bg-1 bg-white-smoke">
<div class="py-lg-9 py-md-7 py-6">
<div class="container">
<div class="row gx-lg-5">
<div class="col-lg-6 home-bg-11 order-lg-1">
<div class="pt-lg-4 pt-md-8 pt-7">
<div class="pl-lg-0 pl-md-10 pl-4">
<div class="ml-lg-0 ml-md-7 ml-2">
<h2 class="h1 font-fifty text-lg-right mb-3">$443 Billion</h2>
</div>
</div>
<div class="pl-lg-10 pr-lg-0 pl-md-9 pr-md-9 pl-4">
<div class="ml-lg-10 ml-md-8">
<div class="pl-2">
<p class="lead-1 text-white">Creating 97 million tons of steel.</p>
<p class="lead-1 text-white">Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 my-lg-3 mt-md-5 mt-5">
<div class="pr-lg-6 pr-md-8 pr-4">
<h2 class="mb-4">Our not-so-secret plan: Create a world without waste</h2>
<p class="lead text-dim-gray mb-4">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.</p><a class="btn btn-black-pearl" href="index.html">Read more</a>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="bg-black-pearl">
<div class="py-lg-9 py-md-8 py-7">
<div class="container mt-lg-4">
<div class="row gx-lg-5">
<div class="col-lg-6">
<h2 class="h1 text-white mb-0 mt-n1">Our team </h2>
<h2 class="h1 text-white mt-n1 mb-4">Memebers</h2>
<div class="pr-lg-10">
<p class="text-silver mr-3">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magn.</p>
</div>
<div class="row gx-lg-5 pt-lg-7 pt-md-5 pt-5">
<div class="col-lg-6 offset-lg-6"><a href="page-agents.html"><img src="{% static 'assets/images/team/teams1.jpg' %}" alt="team image"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-agents.html">
<h5>Daniel Nichol</h5></a>
<p class="text-dim-gray">Managing Partner</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="row gx-lg-5">
<div class="col-lg-6 mt-lg-10 mt-md-5 mt-5"><a href="page-agents.html"><img src="{% static 'assets/images/team/teams2.jpg' %}" alt="team image"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-agents.html">
<h5>Jonathan </h5></a>
<p class="text-dim-gray">Firm Director</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="mt-5"><a href="page-agents.html"><img src="{% static 'assets/images/team/teams4.jpg' %}" alt="team image"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-agents.html">
<h5>Patricia Bogle</h5></a>
<p class="text-dim-gray">Chief Operating Officer</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 mt-lg-0 mt-md-5 mt-5"><a href="page-agents.html"><img src="{% static 'assets/images/team/teams3.jpg' %}" alt="team image"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-agents.html">
<h5>Gerry Heller</h5></a>
<p class="text-dim-gray">Managing Director</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="mt-5"><a href="page-agents.html"><img src="{% static 'assets/images/team/teams5.jpg' %}" alt="team image"></a>
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3"><a href="page-agents.html">
<h5>Joseph Hyde</h5></a>
<p class="text-dim-gray">Tax Partner</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="bg-white-smoke">
<div class="py-lg-8 py-lg-8 py-6">
<div class="container">
<div class="row">
<div class="col-lg-5">
<h2 class="h1 mb-4">Awards</h2>
<div class="pr-4">
<p class="text-dim-gray">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magn.</p>
</div>
</div>
</div>
</div>
<div class="container pt-lg-6 pt-md-7 pt-6">
<div class="row gx-lg-5">
<div class="col-lg-2 col-md-4 col-6 text-center"><img src="{% static 'assets/images/logo/5.png' %}" alt="logo1"></div>
<div class="col-lg-2 col-md-4 col-6 text-center"><img src="{% static 'assets/images/logo/6.png' %}" alt="logo2"></div>
<div class="col-lg-2 col-md-4 col-6 text-center mt-lg-0 mt-md-0 mt-5"><img src="{% static 'assets/images/logo/11.png' %}" alt="logo3"></div>
<div class="col-lg-2 col-md-4 col-6 text-center mt-lg-0 mt-md-5 mt-5"><img src="{% static 'assets/images/logo/12.png' %}" alt="logo4"></div>
<div class="col-lg-2 col-md-4 col-6 text-center mt-lg-0 mt-md-5 mt-5"><img src="{% static 'assets/images/logo/7.png' %}" alt="logo5"></div>
<div class="col-lg-2 col-md-4 col-6 text-center mt-lg-0 mt-md-5 mt-5"><img src="{% static 'assets/images/logo/8.png' %}" alt="logo6"></div>
</div>
</div>
<div class="container mt-lg-8 mt-md-7 mt-6">
<div class="row gx-lg-5">
<div class="col-lg-2 col-md-4 col-6 text-center"><img src="{% static 'assets/images/logo/10.png' %}" alt="logo1"></div>
<div class="col-lg-2 col-md-4 col-6 text-center"><img src="{% static 'assets/images/logo/9.png' %}" alt="logo2"></div>
<div class="col-lg-2 col-md-4 col-6 text-center mt-lg-0 mt-md-0 mt-5"><img src="{% static 'assets/images/logo/5.png' %}" alt="logo3"></div>
<div class="col-lg-2 col-md-4 col-6 text-center mt-lg-0 mt-md-5 mt-5"><img src="{% static 'assets/images/logo/4.png' %}" alt="logo4"></div>
<div class="col-lg-2 col-md-4 col-6 text-center mt-lg-0 mt-md-5 mt-5"><img src="{% static 'assets/images/logo/5.png' %}" alt="logo5"></div>
<div class="col-lg-2 col-md-4 col-6 text-center mt-lg-0 mt-md-5 mt-5"><img src="{% static 'assets/images/logo/6.png' %}" alt="logo6"></div>
</div>
</div>
</div>
</div>
</div>
</article>


{% endblock content %}