{% extends "base.html" %}
{% load static %}
{% block content %}

<article class="entry">
<div class="entry-content">

<div class="container-fluid px-0 team-1 bg-white-smoke">
<div class="py-lg-0 py-md-8 py-7">
<div class="container">
<div class="row gx-lg-5">
<div class="col-lg-6 order-lg-1 mb-lg-0 mb-5">
<div class="col-12 d-lg-none"><img src="assets/images/team/team.jpg" alt="team image"></div>
</div>
<div class="py-lg-10">
<div class="col-lg-6">
<div class="pr-lg-6 pr-md-8 pr-4">
<h1 class="mb-4">We are team of different talented for one purpose.</h1>
<p class="lead text-dim-gray mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliqu yam erat, sed diam voluptua. Fusce sapien velit, pretium at sapien sed, pellentesque ullamcorper lectus ut labore et. Suspendisse aliquam, libero non posuere hendrerit, libero ligula interdum tortor,</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="bg-black-pearl">
<div class="py-lg-9 py-md-8 py-7">
<div class="container mt-lg-4">
<div class="row gx-lg-5">
<div class="col-lg-6">
<h1 class="text-white mb-0 mt-n1">Our team </h1>
<h1 class="text-white mt-n1 mb-4">Memebers</h1>
<div class="pr-lg-10">
<p class="text-silver mr-3">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magn.</p>
</div>
<div class="row gx-lg-5 pt-lg-7 pt-md-5 pt-5">
<div class="col-lg-6 offset-lg-6"><img src="assets/images/team/teams1.jpg" alt="team image">
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3">
<h5>Daniel Nichol</h5>
<p class="text-dim-gray">Managing Partner</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row gx-lg-5 mt-5">
<div class="col-lg-6 offset-lg-6"><img src="assets/images/team/teams6.jpg" alt="team image">
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3">
<h5>Daniel Nichol</h5>
<p class="text-dim-gray">Managing Partner</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="row gx-lg-5">
<div class="col-lg-6 mt-lg-10 mt-md-5 mt-5"><img src="assets/images/team/teams2.jpg" alt="team image">
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3">
<h5>Jonathan </h5>
<p class="text-dim-gray">Firm Director</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="mt-5"><img src="assets/images/team/teams4.jpg" alt="team image">
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3">
<h5>Patricia Bogle</h5>
<p class="text-dim-gray">Chief Operating Officer</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 mt-lg-0 mt-md-5 mt-5"><img src="assets/images/team/teams3.jpg" alt="team image">
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3">
<h5>Gerry Heller</h5>
<p class="text-dim-gray">Managing Director</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="mt-5"><img src="assets/images/team/teams5.jpg" alt="team image">
<div class="bg-white">
<div class="px-4 py-4">
<div class="px-2 py-3">
<h5>Joseph Hyde</h5>
<p class="text-dim-gray">Tax Partner</p>
<div class="pt-1">
<ul class="list-unstyled list-inlinetrue mb-0">
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="icon-style fab fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</article>

{% endblock content %}