{% extends "base.html" %}
{% load static %}
{% block content %}

<article class="entry">
<div class="entry-content">
<div class="bg-black-pearl">
<div class="container">
<div class="py-lg-8 py-md-8 py-7">
<div class="row">
<div class="col-lg-6">
<h1 class="mb-4 text-white">Testimonials</h1>
<p class="lead-1 text-silver mt-n1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
</div>
</div>
</div>
</div>
</div>

<div class="seventy-percent-bg-black-pearl">
<div class="container pb-lg-6 pb-md-7 pb-5">
<div class="row gx-lg-0">
<div class="col-lg-5 order-lg-1"><img class="height-px-600 w-100 object-fit-cover" src="assets/images/testimonials/t1.jpg" alt="testimonials1"></div>
<div class="col-lg-7">
<div class="bg-white">
<div class="px-lg-7 py-lg-10 px-md-5 py-md-7 px-5 py-6">
<div class="row gx-lg-0 my-3">
<div class="col-lg-2"><i class="fas fa-quote-left text-dark-gray custom-icon"></i></div>
<div class="col-lg-10">
<div class="ml-n1">
<h4 class="custom-line-height mb-3">Tempus lphasellus ornare at metus nec tristique. Integer non facilisis lacus, at tristique purus. Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet. </h4>
<p class="text-dim-gray font-italic mb-0">Michael D. Wilson - CEO of Tozee</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="bg-white-smoke">
<div class="container pt-lg-0 pb-lg-9 py-md-7 py-5">
<div class="row gx-lg-0">
<div class="col-lg-5"><img class="height-px-600 w-100 object-fit-cover" src="assets/images/testimonials/t2.jpg" alt="testimonials2"></div>
<div class="col-lg-7">
<div class="bg-white">
<div class="px-lg-7 py-lg-10 px-md-5 py-md-7 px-5 py-6">
<div class="row gx-lg-0 my-3">
<div class="col-lg-2"><i class="fas fa-quote-left text-dark-gray custom-icon"></i></div>
<div class="col-lg-10">
<div class="ml-n1">
<h4 class="custom-line-height">Tempus lphasellus ornare at metus nec tristique. Integer non facilisis lacus, at tristique purus. Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet. </h4>
<p class="text-dim-gray font-italic mb-0">Michael D. Wilson - CEO of Manan</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="my-lg-9 my-md-7 my-5">
<div class="container">
<div class="row gx-lg-5">
<div class="col-lg-6">
<div class="bg-white-smoke">
<div class="px-4 py-4">
<div class="px-2 py-3">
<div class="row gx-lg-5">
<div class="col-9">
<p class="text-dim-gray">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.</p>
<h6 class="mb-1">Maria James - CEO of Sada</h6>
</div>
<div class="col-3"><img class="rounded-circle" src="assets/images/home/h14.jpg" alt="home11"></div>
</div>
</div>
</div>
</div>
<div class="bg-white-smoke mt-5">
<div class="px-4 py-4">
<div class="px-2 py-3">
<div class="row gx-lg-5">
<div class="col-9">
<p class="text-dim-gray">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.</p>
<h6 class="mb-1">Michael Wilson - CEO of Tozee</h6>
</div>
<div class="col-3"><img class="rounded-circle" src="assets/images/Testimonials/t4.jpg" alt="home13"></div>
</div>
</div>
</div>
</div>
<div class="bg-white-smoke mt-5">
<div class="px-4 py-4">
<div class="px-2 py-3">
<div class="row gx-lg-5">
<div class="col-9">
<p class="text-dim-gray">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.</p>
<h6 class="mb-1">Patricia Bogle - Manager of Moiz</h6>
</div>
<div class="col-3"><img class="rounded-circle" src="assets/images/home/h13.jpg" alt="home14"></div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 mt-5">
<div class="bg-white-smoke">
<div class="px-4 py-4">
<div class="px-2 py-3">
<div class="row gx-lg-5">
<div class="col-9">
<p class="text-dim-gray">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.</p>
<h6 class="mb-1">Patricia Bogle - Manager - CEO of Manan</h6>
</div>
<div class="col-3"><img class="rounded-circle" src="assets/images/home/h11.jpg" alt="home11"></div>
</div>
</div>
</div>
</div>
<div class="bg-white-smoke mt-5">
<div class="px-4 py-4">
<div class="px-2 py-3">
<div class="row gx-lg-5">
<div class="col-9">
<p class="text-dim-gray">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.</p>
<h6 class="mb-1">Daniel Nichol - Partner of Sanat</h6>
</div>
<div class="col-3"><img class="rounded-circle" src="assets/images/Testimonials/t5.jpg" alt="home13"></div>
</div>
</div>
</div>
</div>
<div class="bg-white-smoke mt-5">
<div class="px-4 py-4">
<div class="px-2 py-3">
<div class="row gx-lg-5">
<div class="col-9">
<p class="text-dim-gray">Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.</p>
<h6 class="mb-1">Gerry Heller - CEO of Sarmaya</h6>
</div>
<div class="col-3"><img class="rounded-circle" src="assets/images/Testimonials/t3.jpg" alt="home14"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</article>



{% endblock content %}