{% extends "base.html" %}
{% load static %}
{% block content %}

<article class="entry">
<div class="entry-content">

<div class="bg-black-pearl">
<div class="py-lg-8 py-md-8 py-7">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="mt-lg-n2">
<h1 class="mb-4 text-white">Certified Partners</h1>
<p class="lead-1 text-silver mt-n1 mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="container my-lg-8 my-md-8 my-6">
<div class="row gx-lg-5">
<div class="col-lg-4">
<div class="bg-white-smoke">
<div class="py-lg-6 py-md-6 py-5 px-4">
<div class="mx-1 my-lg-n1">
<div class="text-center">
<div class="pb-4"><img class="mb-3" src="assets/images/partner/p1.png" alt="partner 1"></div>
<h3 class="mb-4">Supply Partner</h3>
<div class="pt-1 pb-2">
<p class="mb-lg-3 mb-md-0 mb-0">Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5">
<div class="bg-white-smoke">
<div class="py-lg-6 py-md-6 py-5 px-4">
<div class="mx-1 my-lg-n1">
<div class="text-center">
<div class="pb-4"><img class="mb-3" src="assets/images/partner/p2.png" alt="partner 2"></div>
<h3 class="mb-4">Payment Partner</h3>
<div class="pt-1 pb-2">
<p class="mb-lg-3 mb-md-0 mb-0">Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5">
<div class="bg-white-smoke">
<div class="py-lg-6 py-md-6 py-5 px-4">
<div class="mx-1 my-lg-n1">
<div class="text-center">
<div class="pb-4"><img class="mb-3" src="assets/images/partner/p3.png" alt="partner 3"></div>
<h3 class="mb-4">Construction Partner</h3>
<div class="pt-1 pb-2">
<p class="mb-lg-3 mb-md-0 mb-0">Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row gx-lg-5 mt-5">
<div class="col-lg-4">
<div class="bg-white-smoke">
<div class="py-lg-6 py-md-6 py-5 px-4">
<div class="mx-1 my-lg-n1">
<div class="text-center">
<div class="pb-4"><img class="mb-3" src="assets/images/partner/p4.png" alt="partner 4"></div>
<h3 class="mb-4">Bank Partner</h3>
<div class="pt-1 pb-2">
<p class="mb-lg-3 mb-md-0 mb-0">Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5">
<div class="bg-white-smoke">
<div class="py-lg-6 py-md-6 py-5 px-4">
<div class="mx-1 my-lg-n1">
<div class="text-center">
<div class="pb-4"><img class="mb-3" src="assets/images/partner/p5.png" alt="partner 5"></div>
<h3 class="mb-4">Investment Partner</h3>
<div class="pt-1 pb-2">
<p class="mb-lg-3 mb-md-0 mb-0">Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5">
<div class="bg-white-smoke">
<div class="py-lg-6 py-md-6 py-5 px-4">
<div class="mx-1 my-lg-n1">
<div class="text-center">
<div class="pb-4"><img class="mb-3" src="assets/images/partner/p6.png" alt="partner 6"></div>
<h3 class="mb-4">Development Partner</h3>
<div class="pt-1 pb-2">
<p class="mb-lg-3 mb-md-0 mb-0">Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</article>


{% endblock content %}