

<article class="entry">
<div class="entry-content">
<div class="bg-black-pearl">
<div class="py-4">
<div class="container">
<div class="text-center">
<h2 class="text-white mx-2">Shop</h2>
</div>
</div>
</div>
</div>
<div class="container my-lg-9 my-md-7 my-6">
<div class="row gx-lg-5">
<div class="col-lg-4"><a href="single-product.html"><img src="assets/images/shop/s1.jpg" alt="Shop-Image"></a><a href="single-product.html">
<h5 class="mt-3 mb-2">Metalworking CNC Milling</h5></a>
<h5 class="my-2 text-dim-gray">$635.00</h5>
<div class="pt-4"><a class="btn btn-black-pearl padding" href="single-product.html">Add to cart</a></div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="single-product.html"><img src="assets/images/shop/s2.jpg" alt="Shop-Image"></a><a href="single-product.html">
<h5 class="mt-3 mb-2">Metalworking CNC</h5></a>
<h5 class="my-2 text-dim-gray">$973.00</h5>
<div class="pt-4"><a class="btn btn-black-pearl padding" href="single-product.html">Add to cart</a></div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="single-product.html"><img src="assets/images/shop/s3.jpg" alt="Shop-Image"></a><a href="single-product.html">
<h5 class="mt-3 mb-2">Robotic Arm</h5></a>
<h5 class="my-2 text-dim-gray">$874.00</h5>
<div class="pt-4"><a class="btn btn-black-pearl padding" href="single-product.html">Add to cart</a></div>
</div>
</div>
<div class="row gx-lg-5 mt-lg-6 mt-md-5 mt-5">
<div class="col-lg-4"><a href="single-product.html"><img src="assets/images/shop/s4.jpg" alt="Shop-Image"></a><a href="single-product.html">
<h5 class="mt-3 mb-2">Metalworking CNC Milling</h5></a>
<h5 class="my-2 text-dim-gray">$635.00</h5>
<div class="pt-4"><a class="btn btn-black-pearl padding" href="single-product.html">Add to cart</a></div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="single-product.html"><img src="assets/images/shop/s5.jpg" alt="Shop-Image"></a><a href="single-product.html">
<h5 class="mt-3 mb-2">Metalworking CNC</h5></a>
<h5 class="my-2 text-dim-gray">$973.00</h5>
<div class="pt-4"><a class="btn btn-black-pearl padding" href="single-product.html">Add to cart</a></div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="single-product.html"><img src="assets/images/shop/s6.jpg" alt="Shop-Image"></a><a href="single-product.html">
<h5 class="mt-3 mb-2">Robotic Arm</h5></a>
<h5 class="my-2 text-dim-gray">$874.00</h5>
<div class="pt-4"><a class="btn btn-black-pearl padding" href="single-product.html">Add to cart</a></div>
</div>
</div>
<div class="row gx-lg-5 mt-lg-6 mt-md-5 mt-5">
<div class="col-lg-4"><a href="single-product.html"><img src="assets/images/shop/s7.jpg" alt="Shop-Image"></a><a href="single-product.html">
<h5 class="mt-3 mb-2">Metalworking CNC Milling</h5></a>
<h5 class="my-2 text-dim-gray">$635.00</h5>
<div class="pt-4"><a class="btn btn-black-pearl padding" href="single-product.html">Add to cart</a></div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="single-product.html"> <img src="assets/images/shop/s8.jpg" alt="Shop-Image"></a><a href="single-product.html">
<h5 class="mt-3 mb-2">Metalworking CNC</h5></a>
<h5 class="my-2 text-dim-gray">$973.00</h5>
<div class="pt-4"><a class="btn btn-black-pearl padding" href="single-product.html">Add to cart</a></div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="single-product.html"><img src="assets/images/shop/s9.jpg" alt="Shop-Image"></a><a href="single-product.html">
<h5 class="mt-3 mb-2">Robotic Arm</h5></a>
<h5 class="my-2 text-dim-gray">$874.00</h5>
<div class="pt-4"><a class="btn btn-black-pearl padding" href="single-product.html">Add to cart</a></div>
</div>
</div>
</div>
</div>
</article>
