
{% extends "base.html" %}
{% load static %}
{% block content %}

<article class="entry">
<div class="entry-content">
<div class="bg-black-pearl">
<div class="py-lg-7 py-md-7 py-6">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="pr-lg-6">
<h1 class="text-white">Sanat energy center</h1>
<p class="lead-1 text-white-smoke">Morbi ultrices nunc eget scelerisque efficitur. Duis id tincidunt metus, at dignissim ex. Proin sed nulla non dolor placerat imperdiet at quis augue. </p>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="container-fluid px-0 featured-image"></div>

<div class="my-lg-9 my-md-7 my-6">
<div class="container">
<div class="row">
<div class="col-lg-6">
<p class="lead-1 mb-0">Duis diam ex, viverra eu pellentesque a, mattis quis est. Sed non elementum felis. Vivamus tristique tincidunt massa ac posuere. Nam aliquet bibendum ullamcorper. Vestibulum egestas lacus. Morbi ultrices nunc scelerisque efficitur. Duis id tincidunt metus, at dignissim ex. Proin sed nulla non dolor placerat imperdiet at quis augue. </p>
</div>
</div>
</div>
</div>

<div class="container mb-lg-8 mb-md-7 mb-6">
<div class="row gx-lg-5">
<div class="col-lg-6"><img src="assets/images/single-project/project1.jpg" alt="team image"></div>
<div class="col-lg-6 my-lg-auto">
<div class="mt-lg-0 mt-md-5 mt-5">
<h2 class="mb-4">Organization challenge</h2>
<p class="lead-1">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum. Morbi ultrices nunc scelerisque efficitur dolor placerat imperdiet quis augue.</p>
</div>
</div>
</div>
</div>
<div class="container mb-lg-8 mb-md-7 mb-6">
<div class="row gx-lg-5">
<div class="col-lg-6 order-lg-1"><img src="assets/images/single-project/project2.jpg" alt="team image"></div>
<div class="col-lg-6 my-lg-auto">
<div class="mt-lg-0 mt-md-5 mt-5">
<h2 class="mb-4">Our solution</h2>
<p class="lead-1">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum. Morbi ultrices nunc scelerisque efficitur dolor placerat imperdiet quis augue.</p>
</div>
</div>
</div>
</div>

<div class="container mb-lg-8 mb-md-7 mb-6">
<div class="row gx-lg-5">
<div class="col-lg-3">
<div class="bg-white-smoke px-4 py-4">
<div class="px-2 py-2"><i class="mb-4 h1 display-5 fas fa-chart-area"></i>
<h4 class="mb-3">Land Acquisition</h4>
<p class="text-dim-gray mb-0">Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum stet clita kasd.</p>
</div>
</div>
</div>
<div class="col-lg-3 mt-lg-0 mt-md-5 mt-5">
<div class="bg-white-smoke px-4 py-4">
<div class="px-2 py-2"><i class="mb-4 h1 display-5 fas fa-truck-pickup"></i>
<h4 class="mb-3">Transportation</h4>
<p class="text-dim-gray mb-0">Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum stet clita kasd.</p>
</div>
</div>
</div>
<div class="col-lg-3 mt-lg-0 mt-md-5 mt-5">
<div class="bg-white-smoke px-4 py-4">
<div class="px-2 py-2"><i class="mb-4 h1 display-5 fas fa-hard-hat"></i>
<h4 class="mb-3">Construction</h4>
<p class="text-dim-gray mb-0">Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum stet clita kasd.</p>
</div>
</div>
</div>
<div class="col-lg-3 mt-lg-0 mt-md-5 mt-5">
<div class="bg-white-smoke px-4 py-4">
<div class="px-2 py-2"><i class="mb-4 h1 display-5 fas fa-charging-station"></i>
<h4 class="mb-3">Energy</h4>
<p class="text-dim-gray mb-0">Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum stet clita kasd.</p>
</div>
</div>
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="mb-5"><img src="assets/images/single-project/project3.jpg" alt="project-image"></div>
<div class="mb-5"><img src="assets/images/single-project/project4.jpg" alt="project-image"></div><img src="assets/images/single-project/project5.jpg" alt="project-image">
</div>
</div>

<div class="container my-lg-9 my-md-7 my-6">
<div class="row">
<div class="col-lg-6 order-lg-1"><img src="assets/images/single-project/project6.jpg" alt="project-image"></div>
<div class="col-lg-6 my-auto mt-lg-0 mt-md-5 mt-5">
<h3 class="mb-4">Select Design Preference</h3>
<div class="pr-lg-7">
<p class="mb-lg-6 mb-md-5 mb-4">Consetetur dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusamjusto duo et.</p>
</div>
<h3 class="mb-4">We Get to Work on Your Vision</h3>
<div class="pr-lg-7">
<p class="mb-lg-6 mb-md-5 mb-4">Consetetur dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusamjusto duo et.</p>
</div>
<h3 class="mb-4">We go in design phase.</h3>
<div class="pr-lg-7">
<p class="mb-lg-6 mb-md-5 mb-4">Consetetur dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusamjusto duo et.</p>
</div>
<h3 class="mb-4">Let’s Build and Place.</h3>
<div class="pr-lg-7">
<p>Consetetur dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusamjusto duo et.</p>
</div>
</div>
</div>
</div>
</div>
</article>
{% endblock content %}