

<article class="entry">
<div class="entry-content">
<div class="bg-white-smoke">
<div class="py-4">
<div class="container mt-2">
<div class="row">
<h6 class="text-dim-gray">Home/<a href="shop.html"><span class="h6 text-dim-gray">CNC machine/</span></a><span class="font-weight-normal">Metalworking CNC Miling</span></h6>
</div>
</div>
</div>
</div>
<div class="container mt-lg-8 mt-md-7 mt-6">
<div class="row gx-lg-5">
<div class="col-lg-6"><img src="assets/images/shop/product.jpg" alt="shop">
<div class="row mt-4">
<div class="col-3"><img src="assets/images/shop/s1.jpg" alt="shop"></div>
<div class="col-3"><img src="assets/images/shop/s2.jpg" alt="shop"></div>
<div class="col-3"><img src="assets/images/shop/s3.jpg" alt="shop"></div>
<div class="col-3"><img src="assets/images/shop/s4.jpg" alt="shop"></div>
</div>
</div>
<div class="col-lg-6 mt-lg-4 mt-md-5 mt-5">
<h1 class="mb-4">Metalworking CNC Milling</h1>
<h4 class="mb-4 text-dim-gray">$600</h4>
<div class="row mb-4">
<div class="col-3"><i class="fas fa-star text-black-pearl"></i><i class="fas fa-star text-black-pearl"></i><i class="fas fa-star text-black-pearl"></i><i class="fas fa-star text-black-pearl"></i><i class="fas fa-star text-black-pearl"></i></div>
<div class="col-6">
<p>(20 customer reviews) </p>
</div>
</div>
<div class="pr-lg-6">
<p>Quisque eu quam venenatis, luctus eros ut, efficitur lectus. Maecenas sollicitudin tempor ante, id euismod mi ornare eget. Nunc nec hendrerit eros. Nulla facilisi. Fusce eget posuere dolor. Vestibulum et luctus lacus. Suspendisse nec erat eu ex lacinia luctus.</p>
</div>
<div class="pb-5 pt-4">
<form action="https://www.energeticthemes.com/action_page.php">
<div class="row gx-2">
<div class="col-1">
<input class="form-control number-border px-0" id="quantity" type="number" name="quantity" min="1" max="500" placeholder="1">
</div>
<div class="col-6"><a class="btn btn-black-pearl" href="#">Add To Cart</a></div>
</div>
</form>
</div>
<p class="mb-0">SKU: 00489</p>
<p class="mb-0">Category: Machine</p>
<p class="mb-0">Tag: In Stock</p>
</div>
</div>
</div>
<div class="bg-white-smoke mt-lg-9 mt-md-7 mt-6">
<div class="py-lg-8 py-md-7 py-6">
<div class="container">
<div class="row">
<div class="col-lg-8 offset-lg-2">
<nav>
<div class="nav nav-tabs" id="nav-tab" role="tablist"><a class="nav-link active h4 mr-lg-6" id="nav-Description-tab" data-toggle="tab" href="#nav-Description" role="tab" aria-controls="nav-Description" aria-selected="true">Description</a><a class="nav-link h4 mr-lg-6" id="nav-Additional-information-tab" data-toggle="tab" href="#nav-Additional-information" role="tab" aria-controls="nav-Additional-information" aria-selected="false">Additional information</a><a class="nav-link h4 mr-lg-6" id="nav-Reviews-tab" data-toggle="tab" href="#nav-Reviews" role="tab" aria-controls="nav-Reviews" aria-selected="false">Reviews (1)</a></div>
<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show active" id="nav-Description" role="tabpanel" aria-labelledby="nav-Description-tab">
<div class="pr-lg-6 pt-lg-5 pt-md-4 pt-4">
<h5 class="mb-4">Description </h5>
<p>Aliquam a feugiat sem. Duis sit amet mollis nibh, vitae venenatis lectus. Praesent porta diam quis lacus commodo ornare. Nulla facilisi. Nam risus lacus, vulputate a nunc nec, bibendum aliquam dolor. Vestibulum finibus consequat orci at tincidunt. Pellentesque eu eros in sem ultricies interdum. In facilisis quam id tellus pretium fermentum.</p>
</div>
</div>
<div class="tab-pane fade" id="nav-Additional-information" role="tabpanel" aria-labelledby="nav-Additional-information-tab">
<div class="pr-lg-6 pt-lg-5 pt-md-4 pt-4">
<h5 class="mb-4">Additional Information</h5>
<table class="table table-bordered">
<tbody>
<tr>
<td class="col-lg-2 text-center h6">Size</td>
<td class="col-lg-10">Small , Medium , Large</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="tab-pane fade" id="nav-Reviews" role="tabpanel" aria-labelledby="nav-Reviews-tab">
<div class="pr-lg-6 pt-lg-5 pt-md-4 pt-4">
<h5 class="mb-4">1 Review From Metalworking CNC Matchine</h5>
<p class="mb-0">Add a Review</p>
<p class="mb-0">Your Rating</p><i class="fas fa-star text-black-pearl"></i><i class="fas fa-star text-black-pearl"></i><i class="fas fa-star text-black-pearl"></i><i class="fas fa-star text-black-pearl"></i><i class="fas fa-star text-black-pearl"></i>
<form id="contact-form1" method="post" action="https://www.energeticthemes.com/templates/sanat/assets/php/contact.php">
<div class="mb-4 pb-2">
<textarea class="form-control input-border" id="form_message" name="message" placeholder="Your Review" rows="5" required></textarea>
</div>
<div class="mb-4"> <a class="btn btn-black-pearl" href="#">Submit</a></div>
</form>
</div>
</div>
</div>
</nav>
</div>
</div>
</div>
</div>
</div>
<div class="container mt-lg-8 mt-md-7 mt-6 mb-lg-7 mb-md-7 mb-6">
<h1 class="text-center">Related Products</h1>
</div>
<div class="container mb-lg-9 mb-md-7 mb-6">
<div class="row gx-lg-5">
<div class="col-lg-4"><a href="single-product.html"><img src="assets/images/shop/s1.jpg" alt="Shop-Image"></a><a href="single-product.html">
<h5 class="mt-3 mb-2">Metalworking CNC Milling</h5></a>
<h5 class="my-2 text-dim-gray">$635.00</h5>
<div class="pt-4"><a class="btn btn-black-pearl padding" href="single-product.html">Add to cart</a></div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="single-product.html"><img src="assets/images/shop/s2.jpg" alt="Shop-Image"></a><a href="single-product.html">
<h5 class="mt-3 mb-2">Metalworking CNC</h5></a>
<h5 class="my-2 text-dim-gray">$973.00</h5>
<div class="pt-4"><a class="btn btn-black-pearl padding" href="single-product.html">Add to cart</a></div>
</div>
<div class="col-lg-4 mt-lg-0 mt-md-5 mt-5"><a href="single-product.html"><img src="assets/images/shop/s3.jpg" alt="Shop-Image"></a><a href="single-product.html">
<h5 class="mt-3 mb-2">Robotic Arm</h5></a>
<h5 class="my-2 text-dim-gray">$874.00</h5>
<div class="pt-4"><a class="btn btn-black-pearl padding" href="single-product.html">Add to cart</a></div>
</div>
</div>
</div>
</div>
</article>
